* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* make the margin for the page and color background fun */
body {
    background-image: url(/SBPortfolio/images/cool-background.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    color: white;
}

header {
    background-image: url(/SBPortfolio/images/palmtrees.jpg);
    background-attachment:fixed;
    padding: 20px;
    text-align: center; 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav {
    overflow: hidden;
  }
  
nav a {
    float: right;
    display: flex;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
nav a:hover {
    border-bottom: 3px solid black;
    ;
  }
  
nav a.active {
    border-bottom: 3px solid black;
  }

h2 {
    width: 20%;
    border-right: 5px;
}
h3 {
    width: 20%;
    border-right: 5px;
    padding: 80px;
}

.me {
    width: 80%;
    display: flex;
    border: solid white 5px;
}

.work {
    display: flex;
}

.allCards {
    width: 80%;
}

.mySection p {
    width: 80%;
    border: 2px;
    flex-direction: space-between;
}

.mySection {
    flex-direction: space-between;
    display: flex;
}

.cards p {
    width: 80%;
    border: 5px;
    flex-direction: space-between;
}

.cards {
    flex-direction: space-between;
    display: flex;
    border: 5px lightgrey solid;
    box-shadow: darkgrey solid;
}

.container {
    display: flex;
    padding: 5px;
}

.container ul {
    overflow: hidden;
    display: flex;
    padding: 5rem;
    width: 100%;
    justify-content: space-between;
    color: white;
}

mark {
    background-color: lightgrey;
}

.container a {
    color: white;
}

a {
    color:yellow;
}