* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* make the margin for the page and color background fun */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
    color: white;
}

#mainPage {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
}

/* 
h2 {
    width: 20%;
    border-right: 5px;
}
h3 {
    width: 20%;
    border-right: 5px;
    padding: 80px;
} */

.cards {
    /* flex-direction: space-between;
    display: flex; */
    /* border: 5px lightgrey solid; */
    box-shadow: darkgrey solid;
} 



/*adjusting the screen sizes for multiple uses */
@media screen and (max-width: 992px) {
    work {
        justify-content: space-between;
    }
  }
  
  
  @media screen and (max-width: 768px) {
    nav {
        width: auto;
        height: auto;
    }
  }
  
  
  @media screen and (max-width: 576px) {
    img {
        width: 100%;
        height: auto;
    }
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}